@inject NavigationManager nm
@using Microsoft.AspNetCore.Components.Routing

<NavLink href="/" class="head-submit">
            <div class="triangle triangle-left"></div>
            <p>На главную</p>
          </NavLink>
@code {
    private void Navigate(){
        nm.NavigateTo("/");
    }
}
