.tabs {
  border: 1px solid #e0e0e0;
}

.tabs__nav {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  border-bottom: 1px solid #e0e0e0;
  background-color: #eee;
}

.tabs__btn {
  padding: 0.5rem 0.75rem;
  text-decoration: none;
  color: black;
  text-align: center;
  flex-shrink: 0;
  flex-grow: 1;
  border: 1px solid transparent;
  cursor: pointer;
}

.tabs__btn_active {
  background: #fff;
  cursor: default;
}

.tabs__btn:not(.tabs__btn_active):hover,
.tabs__btn:not(.tabs__btn_active):focus {
  background-color: #eee;
}

.tabs__content {
  padding: 1rem;
}

.tabs__pane {
  display: none;
  width: 100%;
  height: auto;
}

.tabs__pane_show {
  display: block;
}

.service {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 6%;
  width: 100%;
}

.icon-box {
  padding-block: 20px;
  max-width: 300px;
}
.icon-box img {
  width: 100%;
  height: 100%;
  min-height: auto;
  max-width: 100%;
  max-height: 100%;
}

.service-name {
  padding-block: 10px;
  font-size: 22px;
}

.scard {
  width: 100%;
  height: 100%;
}
.scard ul {
  font-size: 28px;
  line-height: 3;
  text-align: center;
}
.scard ul li {
  text-align: start;
  font-size: 22px;
  line-height: 2;
  padding-left: 50px;
  background-image: url("/wwwroot/img/services/service/down.png");
  background-repeat: no-repeat;
  background-position: left start;
  background-size: 40px;
}

.heading {
  margin: 0 0 20px 0;
  text-align: center;
  font-size: 26px;
}