@page
@model Ultra77Razor.Pages.Cart.InquiryConfirmModel

<div class="text-center">
    <h1 class ="text-info">Подтверждение заказа</h1>

    <p>Ваш заказ отправлен. Мы свяжемся с вами в ближайшее время для уточнения деталей</p>
    <img src="~/img/inquiry_confirm.jpg" width="80%" />
</div>
