$acent-color: rgb(223,9,127);
$second-color: rgb(0,160,227);
$main-color: #b3b3b3;

.cart-wrapper {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.cart-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;

    h3 {
        font-size: 2.5em;
    }

    a {
        p {
            font-size: x-large;
        }
    }
}

.cart-content {
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.cart-product {
    display: flex;
    flex-direction: column;
}

.cart-card {
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
}
.cart-card-header {
    width: 100%;
    display: flex;
    align-items:center;
    justify-content:space-between;
}

.cart-card-about {
    width: 100%;
    display: flex;
    align-items:center;
    flex-wrap:wrap;
}

.cart-product-image {
    min-width: 25%;
    min-height: 25%;

    img {
        width: 100%;
        height: 100%;
    }
}

.price-one {
    justify-self: end;
    font-size: x-large;
}

.price-percount {
    flex-grow: 1;
    font-size: x-large;
}

.delete-submit {
    flex-grow: 0;
}

.cart-summary {
    display: flex;
    flex-direction: column;
    margin: 5% 0 10% 0;

    p {
        align-self: end;
        font-size: xx-large;
        text-align: start;
    }
}

.total {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: auto;
}

.price-total {
    margin: 0 5% 0 0;
    font-size: xx-large;
    display: inline;
    text-align: center;
    white-space: nowrap;
}

.confirm-submit {
    white-space: nowrap;
}

.cart-footer {
    p {
        font-size: x-large;
    }
}

.submit {
    padding: 1% 5%;
    background-color: $acent-color;
    color: #fff;
    font-size: x-large;
    border: solid #aaa 1px;
}

.submit:hover {
    background-color: #fff;
    color: $second-color;
}

.head-submit {
    display:flex;
    align-items:center;
    color: $acent-color;
    font-size: xx-large;
    white-space:nowrap;
    p {
        padding-top: 15%;
        font-weight: bold;
    }
}


.head-submit:hover {
    color: $second-color;
}
.triangle {
    color: $second-color;
    width: 0;
    height: 0;

    &:hover {
        color: $acent-color;
    }
}

.triangle-left {
    margin: 2.5% 5% 0 0;
    border-top: 10px solid transparent;
    border-right: 20px solid #D0D4DC;
    border-bottom: 10px solid transparent;
}

.triangle-right {
    margin: 2.5% 0 0 5%;
    border-top: 10px solid transparent;
    border-left: 20px solid #D0D4DC;
    border-bottom: 10px solid transparent;
}
.number-wrapper{
    display:flex;
    justify-content:end;
    margin-left:5%;
}

@media (max-width: 1200px) {
    .cart-wrapper {
        width: 100%;
    }

    /*-------------*/
    .number {
        width: 180px;
        height: 40px;
    }

    .number-input {
        width: 180px;

        input[type="number"] {
            height: 50px;
        }
    }


    .number-label {
        width: 40%;
        height: 50px;

        p {
            padding-top: 15%;
            font-size: 30px;
        }
    }

    .number-buttons {
        height: 100%;
        width: 40%;

        .number-minus,
        .number-plus {
            border: none;
            width: 40px;
            height: 25px;
            border: $main-color solid 1px;
            border-radius: 1px;
            margin: 0;
            padding: 0;

            p {
                display: inline-block;
                font-size: 15px;
            }
        }
    }

    .price-one {
        display: none;
    }

    .submit {
        font-size: large;
    }
}
@media (max-width: 960px) 
{
    .cart-header {
        flex-direction:row;
        h3 {
            padding-top:4%;
            font-size: 1.5em;
        }
    }
    .cart-card-header{
        flex-direction:column;
        align-items:center;
    }
    .cart-card-about{
        justify-content:center;
        
    }
    .number-wrapper,
    .cart-card-options,
    .cart-card-about {
        margin-block: 5%;
    }
}
@media (max-width: 767px)
{

} 
@media (max-width: 600px)
{
    .cart-header {
        flex-direction: column;
        align-items:center;
        h3 {
            font-size: 1.5em;
        }
    }
    .cart-product-image{
        width:100%;
    }
    .cart-card {
        flex-direction: column;
    }
}
