@page
@using UpakUtilitiesLibrary.Utility.Extentions
@model Ultra77Razor.Areas.Admin.Pages.Product.UpsertModel
@{
    var title = "Добавить товар";
}

<form method="post" enctype="multipart/form-data">
    @if (Model != null)
    {
        title = "Изменить товар";
        <input asp-for="Product.Id" hidden />
    }
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-info p-lg-3">@title</h2>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Product.Name"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Product.Name" class="form-control" />
                        <span asp-validation-for="Product.Name" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Product.Description"></label>
                    </div>
                    <div class="col-8">
                        <textarea asp-for="Product.Description" class="form-control summernote"></textarea>
                        <span asp-validation-for="Product.Description" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Product.RetailPrice"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Product.RetailPrice" class="form-control" />
                        <span asp-validation-for="Product.RetailPrice" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Product.PurchasePrice"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Product.PurchasePrice" class="form-control" />
                        <span asp-validation-for="Product.PurchasePrice" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        image
                    </div>
                    <div class="col-8">
                        <input type="file" name="files" id="uploadBox" multiple class="form-control" />
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Product.CategoryId"></label>
                    </div>
                    <div class="col-8">
                        <select asp-for="Product.CategoryId" class="form-select"
                                asp-items="Model.CategorySelectedList">
                            <option disabled selected>Выберите категорию</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-8 offset-4 row">

                        <div class="col">
                            @if (Model.Product?.Id != 0)
                            {
                                <input type="submit" class="btn btn-info w-100" value="Обновить" />
                            }
                            else
                            {
                                <input type="submit" onclick="return validateInput()" class="btn btn-primary w-100" value="Создать" />
                            }

                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-success w-100">
                                Назад
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                @* Keep this empty *@
                @if (Model.Product.Id != 0)
                {
                    <img src="@Model.Product.Image?.DataArrayToImageUrl()"
                     width="100%" style="border-radius:5px;border:1px solid #bbb" />
                }
            </div>
        </div>
    </div>
</form>

@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial" />
    }
<script>
              $(document).ready(function() {
                  $('.summernote').summernote({
                      height:200,
                      lang:'ru-RU',
                      toolbar: [
      // [groupName, [list of button]]
      ['style', ['bold', 'italic', 'underline', 'clear']],
      ['font', ['strikethrough', 'superscript', 'subscript']],
      ['fontsize', ['fontsize']],
      ['color', ['color']],
      ['para', ['ul', 'ol', 'paragraph']],
      ['height', ['height']]
    ]
                  });
      });
              function validateInput()
              {
                  if (document.getElementById("uploadBox").value == "")
                  {
                      Swal.fire(
                          'Ошибка!',
                          'Пожалуйста, загрузите изображение',
                          'error'
                      )
                      return false;
                  }
                  return true;
              }
</script>
}