@page
@using UpakUtilitiesLibrary.Utility.Extentions
@model Ultra77Razor.Areas.Admin.Pages.Product.UpsertModel
@{
    string title;
    @if (Model != null)
    {
        title = "Изменить товар";

    }
    else
    {
        title = "Добавить товар";
    }

}
<div class="border p-3">
    <div class="form-group row">
        <h2 class="text-info p-lg-3">@title</h2>
    </div>
    <div class="row">
        <form method="post" novalidate enctype="multipart/form-data">
            <input asp-for="Product!.Id" hidden />
            <div class="col-8">

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Product.Name"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Product.Name" class="form-control" required/>
                        <span asp-validation-for="Product.Name" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Product.Description"></label>
                    </div>
                    <div class="col-8">
                        <textarea asp-for="Product.Description" class="form-control summernote"></textarea>
                        <span asp-validation-for="Product.Description" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Product.RetailPrice"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Product.RetailPrice" class="form-control" />
                        <span asp-validation-for="Product.RetailPrice" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Product.PurchasePrice"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Product.PurchasePrice" class="form-control" />
                        <span asp-validation-for="Product.PurchasePrice" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        image
                    </div>
                    <div class="col-8">
                        <input type="file" name="files" id="uploadBox" multiple class="form-control" />
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Product.CategoryId" class="form-label"></label>
                    </div>
                    <div class="col-8">
                        <select asp-for="Product.CategoryId" class="form-select is-invalid" required
                                asp-items="Model.CategorySelectedList">
                            <option disabled selected>Выберите категорию</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-8 offset-4 row">

                        <div class="col">
                            @if (Model.Product?.Id != 0)
                            {
                                <input type="submit" class="btn btn-info w-100" value="Обновить" />
                            }
                            else
                            {
                                <input type="submit" onclick="return validateInput()" class="btn btn-primary w-100" value="Создать" />
                            }

                        </div>
                        <div class="col">
                            <a asp-page="Index" class="btn btn-success w-100">
                                Назад
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="col-4">
            @* Keep this empty *@
            @if (Model.Product.Id != 0)
            {
                @if (Model.Files != null)
                {
                    @foreach (var file in Model.Files)
                    {
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>

                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <input type="hidden" asp-for="@file" />
                                    <td><img src="~/img/products/@Model.Product.Name/@file.Name" style="width:100px;height:auto;" /></td>
                                    <td><a href="~/img/products/@Model.Product.Name/@file.Name" download="@file.Name">Скачать</a></td>
                                    <td>
                                        <form asp-page-handler="Delete" asp-route-imageName="@file.Name">
                                            <input type="hidden" asp-for="Product.Name" />
                                            <input type="hidden" asp-for="Product.Id" />
                                            <button type="submit" style="border:none; height:30px; width:30px;" class="delete"><i class="fa-regular fa-trash-can" style="width:100%;height:100%;"></i></button>
                                        </form>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    }
                }
            }
        </div>

    </div>
</div>


@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial" />
    }
    <script>
        $(document).ready(function () {
            $('.summernote').summernote({
                height: 200,
                lang: 'ru-RU',
                toolbar: [
                    // [groupName, [list of button]]
                    ['style', ['bold', 'italic', 'underline', 'clear']],
                    ['font', ['strikethrough', 'superscript', 'subscript']],
                    ['fontsize', ['fontsize']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['height', ['height']]
                ]
            });
        });
        function validateInput() {
            if (document.getElementById("uploadBox").value == "") {
                Swal.fire(
                    'Ошибка!',
                    'Пожалуйста, загрузите изображение',
                    'error'
                )
                return false;
            }
            return true;
        };
        var forms = document.querySelectorAll('.needs-validation')
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
                }) ()
    </script>
}