@page
@model Ultra77Razor.Areas.Admin.Pages.SEO.MainPagesModel
<h5>Main pages</h5>
@{
    ViewData["Title"] = "Категории";
}

<form class="container p-3" method="post">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Категории товаров</h2>
        </div>
        <div class="col-6">
            <a asp-area="Admin" asp-page="Create" class="btn btn-primary">
                Добавить
            </a>
            <button type="submit" class="btn btn-success">Сохранить</button>
        </div>
    </div>

    @if (Model.MainPages.Count() > 0)
    {

        <h6 style="margin-top:50px">Категории</h6>
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Title
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        KeyWords
                    </th>
                </tr>
            </thead>
            <tbody>
                @*@foreach (var item in Model.MainPages)*@
                @for(int i=0;i<Model.MainPages.Count;i++)
                {
                    
                    <tr>
                        <td width="1%"><input type="hidden" asp-for="MainPages[i].Id" />@Model.MainPages[i].Id</td>
                        <td width="15%"><input type="text" asp-for="MainPages[i].Title" value="@Model.MainPages[i].Title" /></td>
                        <td width="25%"><textarea style="width:100%;" wrap="soft" asp-for="MainPages[i].Description" rows="5">@Model.MainPages[i].Description</textarea></td>
                        <td width="50%"><textarea style="width:100%;" wrap="soft" asp-for="MainPages[i].KeyWords" rows="5">@Model.MainPages[i].KeyWords</textarea></td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Нет категорий</p>
    }
</form>