@page
@model Ultra77Razor.Areas.Admin.Pages.Options.CreateModel
@{

}
<form method="post" enctype="multipart/form-data">
    <div class="border p-3">
        <div class="form-group row">
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="ProductOption.Name"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="ProductOption.Name" class="form-control" />
                        <span asp-validation-for="ProductOption.Name" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="ProductOption.Description"></label>
                    </div>
                    <div class="col-8">
                        <textarea asp-for="ProductOption.Description" class="form-control summernote"></textarea>
                        <span asp-validation-for="ProductOption.Description" class="text-danger"></span>
                    </div>
                </div>
            </div>
            
            <div class="form-group row">
                <div class="col-4">
                    image
                </div>
                <div class="col-8">
                    <input type="file" name="files" id="uploadBox" multiple class="form-control" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="ProductOption.Products"></label>
                </div>
                <div class="col-8">
                    <select asp-for="ProductOption.Products" class="form-select"
                            asp-items="Model.ProductOptionSelectedList">
                        <option disabled selected>Выберите товар</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-8 offset-4 row">

                    <div class="col">
                        <input type="submit" class="btn btn-primary w-100" value="Создать" />
                    </div>
                    <div class="col">
                        <a asp-page="Index" class="btn btn-success w-100">
                            Назад
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial" />
    }
}
