@page
@using Ultra77Razor.Components
@using UpakModelsLibrary.Models
@model Ultra77Razor.Areas.Admin.Pages.Options.CreateModel
@{

}
<form method="post" enctype="multipart/form-data">
    <div class="border p-3">
        <div class="form-group row">
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="ProductOption.Name">Название</label>
                    </div>
                    <div class="col-8">
                        <input asp-for="ProductOption.Name" class="form-control" />
                        <span asp-validation-for="ProductOption.Name" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="ProductOption.Description">Описание</label>
                    </div>
                    <div class="col-8">
                        <textarea asp-for="ProductOption.Description" class="form-control summernote"></textarea>
                        <span asp-validation-for="ProductOption.Description" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-8 offset-4 row">


                    @*<div class="col-4">

                        <button type="button" class="btn btn-success w-100"
                                data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Добавить варианты характеристики
                        </button>
                        
                        <component type=@typeof(ModalAddOptionDetails) render-mode="ServerPrerendered"
                        param-Options="@Model.OptionDetails" param-OnClickCallBack="@(()=>{Model.OptionDetails.Append(new OptionDetail());})" 
                        />

                    </div>*@
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="ProductOption.Products">
                        Выберите товар, для которого применить
                        характеристику
                    </label>
                </div>
                <div class="col-8">
                    <select asp-for="ProductOption.Products" class="form-control" multiple
                            asp-items="Model.ProductOptionSelectedList">
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-8 offset-4 row">

                    <div class="col">
                        <input type="submit" class="btn btn-primary w-100" value="Создать" />
                    </div>
                    <div class="col">
                        <a asp-page="Index" class="btn btn-success w-100">
                            Назад
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    }
