@page
@model LoginModel

@{
    ViewData["Title"] = "Вход в личный кабинет";
}


<div class="auth-wrapper">
    <form id="account" method="post">
        <div class="auth-header">
            <h1>Вход в личный кабинет</h1>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </div>
        <div class="auth-main">
            <h3>Заполните данные для входа в личный кабинет</h3>

            <div class="auth-line form-group">
                <div> <label asp-for="Input.Email" class="form-label"></label></div>
                <div> <input asp-for="Input.Email" class="form-control auth-input" autocomplete="username" aria-required="true" /></div>
            </div>
            <div class="auth-line form-group">
                <div> <label asp-for="Input.Password" class="form-label">Пароль</label></div>
                <div> <input asp-for="Input.Password" class="form-control auth-input" autocomplete="current-password" aria-required="true" /></div>
            </div>
            <div class="auth-line-checkbox checkbox">

                <label asp-for="Input.RememberMe" class="form-label">

                </label>
                <input class="form-check-input" asp-for="Input.RememberMe" />
            </div>
        </div>
        <hr class="hr-shelf">
        <div class="auth-footer">
            <div>
                <button id="login-submit" type="submit" class="submit">Вход</button>
            </div>
            <div class="auth-footer-links">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Забыли пароль?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Зарегестрировать</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Повторная отправка подтверждения</a>
                    </p>
                </div>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
