@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Подтверждение сброса пароля";
}

<h1>@ViewData["Title"]</h1>
<p>
    Ваш пароль был сброшен. Пожалуйста <a asp-page="./Login">нажмите здесь, чтобы войти в систему</a>.
</p>
