@using UpakUtilitiesLibrary.Utility.Extentions;
@model UpakModelsLibrary.Models.Product

        <div class="catalog__card card">
          <a asp-page="Product" asp-route-id=@Model.Id>
            <img src="@Model.Image!.DataArrayToImageUrl()" alt="">
            <span>@Model.Name</span>
          </a>
        </div>