@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor accessor
@using UpakModelsLibrary.Models
@using UpakUtilitiesLibrary
@using UpakUtilitiesLibrary.Utility.Extentions

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    @await Html.PartialAsync("_Links")
</head>
<body class="body">
    <div class="wrapper">
        <header class="header">
            <div class="header__container">
                <div class="header__info">
                    <div class="header__info-first">
                        @if (accessor.HttpContext.Session.Get<List<ShoppingCart>>(WebConstants.SessionCart) != null)
                        {
                            <a asp-page="Cart/Index" class="nav-link">
                                @{
                                    var count = accessor.HttpContext.Session.Get<List<ShoppingCart>>(WebConstants.SessionCart).Count;
                                }
                                <i class="fas fa-shopping-cart"></i>&nbsp;(@count)
                            </a>
                        }
                        else
                        {
                            <a asp-page="Cart/Index" class="nav-link"><i class="fas fa-shopping-cart"></i>&nbsp;(0)</a>
                        }
                        <div class="header__info-text left">
                            <p>Рабочее время офиса в Екатеринбурге 9.00 - 18.00 по местному времени.</p>
                        </div>
                        <div class="header__info-number left"><a href="tel:+79222081799">+7(922)2081799</a></div>
                    </div>
                    <div class="header__info-logo">
                        <a asp-area="" asp-page="./Index" class="header__logo">
                            <img src="~/img/logo.png" alt="">
                        </a>
                    </div>
                    <div class="header__info-second">
                        <partial name="_LoginPartial" />
                        @if (User.IsInRole(WebConstants.AdminRole))
                        {
                            <a asp-area="Identity" asp-page="/Account/Register">Создать Администратора</a>
                            <a asp-area="Admin" asp-page="Index">Перейти в админ-панель</a>
                        }
                        <div class="header__info-text right">Рабочее время офиса в Москве 10.00 - 19.00. Доставка по всей России.</div>
                        <div class="header__info-number right"><a href="tel:+79299633918">+7(929)9633918</a></div>
                    </div>
                </div>
                <div class="header__body">
                    <input type="checkbox" id="burger">
                    <label for="burger"
                           onclick="this.classList.toggle('opened');this.setAttribute('aria-expanded', this.classList.contains('opened'))"
                           aria-label="Main Menu">
                        <svg width="70" height="70" viewBox="0 0 100 100">
                            <path class="line line1"
                                  d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058" />
                            <path class="line line2" d="M 20,50 H 80" />
                            <path class="line line3"
                                  d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942" />
                        </svg>
                    </label>
                    <nav class="header__menu">
                        <ul class="header__list">
                            <li>
                                <form method="post"><a asp-area="" asp-page="/Index" class="header__link">Главная</a></form>
                            </li>
                            <li>
                                <form method="post"><a asp-area="" asp-page="/Services" class="header__link">Услуги</a></form>
                            </li>
                            <li>
                                <form method="post"><a asp-area="" asp-page="/Providers" class="header__link">Поставщикам</a></form>
                            </li>
                            <li>
                                <form method="post"><a asp-area="" asp-page="/About" class="header__link">О компании</a></form>
                            </li>
                            <li>
                                <form method="post"><a asp-area="" asp-page="/Contacts" class="header__link">Контакты</a></form>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>

        </header>
        <div class="content">
            @RenderBody()
        </div>

        <footer class="footer">
            <div class="footer__wrapper">
                <p>Группа компаний Ультра</p>
                <div class="footer__links">
                    @*<ul>*@
                    <form method="post"><a asp-area="" asp-page="/Index">Главная</a></form>
                    <form method="post"><a asp-area="" asp-page="/Services">Услуги</a></form>
                    <form method="post"><a asp-area="" asp-page="/Providers">Поставщикам</a></form>
                    <form method="post"><a asp-area="" asp-page="/About">О компании</a></form>
                    <form method="post"><a asp-area="" asp-page="/Contacts">Контакты</a></form>
                    @*</ul>*@
                </div>

@*                <div class="footer__social">

                    <span>Присоединяйтесь</span>

                    <div class="footer__social-icons">
                        <div class="footer__social-icon">
                            <a href=""><img src="~/img/vk.png" alt="vk"></a>
                        </div>
                        <div class="footer__social-icon">
                            <a href=""><img src="~/img/whatsapp.png" alt="what"></a>
                        </div>
                        <div class="footer__social-icon">
                            <a href=""><img src="~/img/telegram.png" alt="tele"></a>
                        </div>
                        <div class="footer__social-icon">
                            <a href=""><img src="~/img/instagram.png" alt="inst"></a>
                        </div>
                    </div>
                </div>*@

                <div class="footer__logo">
                    <a href="" class="header__logo">
                        <img src="~/img/logo.png" alt="">
                    </a>
                </div>
                <div class="footer__copy">
                    <a href="#"><i>&copy;</i>2022 LLC Ultra Group </a>
                </div>
            </div>
        </footer>
    </div>
    @await RenderSectionAsync("Scripts", required: false)
    @await Html.PartialAsync("_Scripts")
</body>
</html>
