<div class="ymap" style="width:100%;">
    <script type="text/javascript"
            charset="utf-8"
            async
            src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A92556ad82b8decfc1dea020ae4c776cc4f518a1bfaee5bc2c983017c4405873c&amp;
                width=1080&amp;height=500&amp;lang=ru_RU&amp;scroll=true"></script>
</div>
<script src="https://api-maps.yandex.ru/2.1/?apikey=dc7cefd4-24aa-428f-9f98-475058bcbf26&lang=ru_RU&load=Geolink"
            type="text/javascript"></script>