@page
@using System.Text.Json
@using UpakModelsLibrary.Models.SEO
@model Ultra77Razor.Pages.AboutModel
@{
    var file = System.IO.File.ReadAllText(System.IO.Path.Combine(Environment.CurrentDirectory, "MainPages.json"));
    List<MainPage> meta = JsonSerializer.Deserialize<List<MainPage>>(file);
    if(meta!=null)
    {
        ViewData["Title"] = meta[3].Title;
        ViewData["Description"] = meta[3].Description;
        ViewData["Keywords"] = meta[3].KeyWords;
    }
    //ViewData["Title"] = "О Компании";
    //ViewData["Description"] = "Упаковочные материалы оптом в России";
    //ViewData["Keywords"] = "упаковка, упаковочные, упаковочная, упак, пак, коробка, коробки, картон, гофрокартон, скотч, стрейч,стретч,скотч, лента,пленка,плёнка, перчатки, краги,ПЭ,ПП, upak, пупырчатая, пупырка, перчатки, перчатка, малярный, двухсторонний скотч, аллюминевый скотч,мешки, мешок, шульц,гкультра, ультра, ультрапак";
}

<div class="content__description about">
    <div class="about__first">
        <h2>О Компании</h2>
        <p>
            <span>Торгово-производственная компания «УЛЬТРАПАК»</span> представляет собой крупную торгово-производственную компанию, 
            работающую в области промышленных упаковочных материалов более 10 лет, обеспечивая своей продукцией регионы России, 
            имея головные представительства в Москве и Екатеринбурге.

        </p>
    </div>

    <div class="about__second">
        <ul class="about__ul">
            <span>Основные преимущества «УЛЬТРАПАК»:</span>
            <li>Опыт работы более 10 лет</li>
            <li>Собственное производство</li>
            <li>Собственный автопарк</li>
            <li style="word-break: break-all";>Высококвалифицированный персонал</li>
            <li style="word-break: break-all";>Клиентоориентированность</li>
            <li>Индивидуальный подход к покупателю</li>
            <li>Гибкая ценовая политика</li>
        </ul>
       
        <p>
            Мы ценим каждого клиента и заботимся, чтобы наша 
            высококачественная продукция была оперативно доставлена своему заказчику.
        </p>
        <p>
            Мы стараемся поддерживать постоянный ассортимент продукции в достаточном количестве,
            а также работаем под заказ, индивидуально. Ассортимент нашей компании насчитывает около 400 товаров,
            такие как стрейч-пленка, термоусадочная пленка, гофрокартон, коробки (для пищевых продуктов, для сувениров,
            для хранения вещей),
            пленка полиэтиленовая, воздушно-пузырьковая пленка, лента(полипропиленовая, полиэтиленовая, полиэстеровая),
            скрепа, пряжки, скотч
            (прозрачный, коричневый, армированный, алюминиевый, малярный), скотч с логотипом, перчатки (с ПВХ покрытием,
            с обливом),
            краги, рукавицы, диспенсеры для скотча и многое другое.
        </p>
        <div class="section__gallery gallery" id="flex-gallery">
            <div class="gallery__flex">
                @foreach (int i in Enumerable.Range(1, 12))
                {
                    <div class="gallery__item"><img src="~/img/about/about-@($"{i}").jpg" alt="" /></div>
                }
            </div>
        </div>
    </div>
    <div class="about__third row">
        <div class="col-md">
            <ul class="about__ul">
                <span>Как работают наши менеджеры?</span>
                <li>Вы звоните нам / Отправляете заявку на нашу почту zakaz@upak77.ru</li>
                <li>
                    Менеджер в течении короткого времени связывается с Вами, даёт полную консультацию по выбранному
                    товару,
                    и уточняет детали Вашего заказа сроки / расчет стоимости / объемы
                </li>
                <li>В ответ на Вашу заявку Вы получаете Счет на оплату</li>
                <li>После 100% оплаты, мы собираем Ваш заказ, запускаем производство</li>
                <li>Оповещаем Вас о готовности заказа / Осуществляем Вам доставку</li>
            </ul>
        </div>

    </div>
    <div class="about__fourth">
        <p>
            Вы всегда можете приехать к нам в офис. Сотрудники нашей компании открыты к общению с новыми клиентами и
            будут рады лично встретиться с Вами,
            предоставить полную информацию о продукции, продемонстрировать ее ассортимент и качество.
        </p>
        <p>
            Будьте уверены, что ТПК Ультрапак обязательно найдет самые выгодные упаковочные решения для Вашего заказа!
        </p>
    </div>
</div>
