@page
@model Ultra77Razor.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<div class="content__description about">
        <div class="about__first">
          <h2>О Компании</h2>
          <p><span>Торгово-производственная компания «УЛЬТРАПАК»</span> - современная, динамично развивающаяся компания
            на рынке упаковочных материалов в Московском регионе,
            является крупным производителем и поставщиком упаковочных материалов и сопутствующих товаров. Наша компания
            осуществляет свою деятельность с 2011 года.
            За время работы мы приобрели новое оборудование для изготовления упаковочных материалов, оптимизировали
            процессы производства, разработали и освоили новые технологии.
            Мы заботимся о том, чтобы предлагаемая нами продукция была доступна каждому клиенту, вне зависимости от
            размеров его бизнеса.
            Мы заботимся о качестве продукции и стремимся к более полному удовлетворению запросов клиентов.</p>
        </div>
        <div class="carousel">
          <div class="swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide"><img src="~/img/about/about-02.jpg" alt=""></div>
              <div class="swiper-slide"><img src="~/img/about/about-03.jpg" alt=""></div>
              <div class="swiper-slide"><img src="~/img/about/about-04.jpg" alt=""></div>
              <div class="swiper-slide"><img src="~/img/about/about-05.jpg" alt=""></div>
              <div class="swiper-slide"><img src="~/img/about/about-06.jpg" alt=""></div>
              <div class="swiper-slide"><img src="~/img/about/about-07.jpg" alt=""></div>
              <div class="swiper-slide"><img src="~/img/about/about-08.jpg" alt=""></div>
              <div class="swiper-slide"><img src="~/img/about/about-09.jpg" alt=""></div>
              <div class="swiper-slide"><img src="~/img/about/about-11.jpg" alt=""></div>
              <div class="swiper-slide"><img src="~/img/about/about-12.jpg" alt=""></div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          </div>
        </div>
        <div class="about__second">
          <ul class="about__ul"><span>Причины работать с нами:</span>
            <li>Индивидуальный подход к каждому покупателю</li>
            <li>Собственное производство</li>
            <li>Выгодные цены специально для Вас</li>
            <li>Широчайший ассортимент товаров</li>
            <li>Оптимальное соотношение цена-качество</li>
            <li>Все что нужно для упаковки. Все в одном месте по адресу - Москва, ул. Ткацкая, д. 5А, стр. 1</li>
            <li>Коллектив профессиональных работников по упаковке</li>
          </ul>

          <p>Продажа упаковки в нашей компании выполняется по четко отработанной схеме, напрямую с нашего склада.
            Плотная связь с заводами и прямое общение с нашими клиентами,
            помогает нам предоставить по максимуму полный упаковочный ассортимент продукции высокого качества, по
            наиболее выгодной для клиента цене.</p>
          <p>Мы стараемся поддерживать постоянный ассортимент продукции в достаточном количестве,
            а также работаем под заказ, индивидуально. Ассортимент нашей компании насчитывает около 400 товаров,
            такие как стрейч-пленка, термоусадочная пленка, гофрокартон, коробки (для пищевых продуктов, для сувениров,
            для хранения вещей),
            пленка полиэтиленовая, воздушно-пузырьковая пленка, лента(полипропиленовая, полиэтиленовая, полиэстеровая),
            скрепа, пряжки, скотч
            (прозрачный, коричневый, армированный, алюминиевый, малярный), скотч с логотипом, перчатки (с ПВХ покрытием,
            с обливом),
            краги, рукавицы, диспенсеры для скотча и многое другое. </p>
        </div>
        <div class="about__third row">
          <div class="col-md">
            <ul class="about__ul"><span>Как работают наши менеджеры?</span>
              <li>Вы звоните нам / Отправляете заявку на нашу почту zakaz@upak77.ru</li>
              <li>Менеджер в течении короткого времени связывается с Вами, даёт полную консультацию по выбранному
                товару,
                и уточняет детали Вашего заказа сроки / расчет стоимости / объемы</li>
              <li>В ответ на Вашу заявку Вы получаете Счет на оплату</li>
              <li>После 100% оплаты, мы собираем Ваш заказ, запускаем производство</li>
              <li>Оповещаем Вас о готовности заказа / Осуществляем Вам доставку</li>
            </ul>
          </div>

        </div>
        <div class="about__fourth">
          <p>Вы всегда можете приехать к нам в офис. Сотрудники нашей компании открыты к общению с новыми клиентами и
            будут рады лично встретиться с Вами,
            предоставить полную информацию о продукции, продемонстрировать ее ассортимент и качество.</p>
          <p>Будьте уверены, что ТПК Ультрапак обязательно найдет самые выгодные упаковочные решения для Вашего заказа!
          </p>
        </div>
      </div>