@page
@model IndexModel
@{
    ViewData["Title"] = "Домашняя";
}

<div class="slider__wrapper">
        <div class="slider">
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="~/img/slide1.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="~/img/slide2.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="~/img/slide3.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="~/img/slide4.png" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      </div>
      </div>
      <div class="catalog">
        @foreach (var catCards in Model.CategoryList)
          {
            <partial name="_IndividualCategoryCard" model="catCards"/>
    }
      </div>
      <div class="content__description">
        <h3>Упаковочные материалы оптом в Москве</h3>
        <p>ООО ТПК «УЛЬТРАПАК» является лидером в области упаковочных материалов. Компания осуществляет оптовые поставки
          всех видов упаковочных материалов: брезентовых рукавиц, рулонного и листового гофрокартона, стрейч-пленки,
          скотча, воздушно-пузырьковой пленки.</p>
        <p>Сохранность и аккуратный вид груза или предмета – это первое впечатление о производителе или транспортной
          компании. Надежный упаковочный материал – это забота о своем покупателе, репутации и товаре. ООО ТПК
          «УЛЬТРАПАК» в Москве предоставляет широкий выбор качественных изделий, которые помогут сложить все как надо.
        </p>
        <p>Воздушно-пузырьковая пленка, надежно обмотанная скотчем, становится не заменимой при перевозке хрупкого или
          дорого груза, рулонные материалы применяются для предметов нестандартной формы, листовые – незаменимы при
          изготовлении коробок из картона.</p>
        <p>Воздушно-пузырьковая пленка, надежно обмотанная скотчем, становится не заменимой при перевозке хрупкого или
          дорого груза, рулонные материалы применяются для предметов нестандартной формы, листовые – незаменимы при
          изготовлении коробок из картона.</p>
        <h3>ТПК УльтраПак: получить консультацию, запросить цены, сделать заказ</h3>
        <ul class="content__description-list">
         <li>Звоните менеджерам по телефонам: <a href="tel:+79222081799">+7(922)2081799</a> - Офис в Екатеринбурге, <a href="tel:+79299633918">+7(929)9633918</a> - офис в Москве</li>
          <li>Пишите на электронную почту <a href="mailto:zakaz@upak77.ru">zakaz@upak77.ru</a> - время ответа составляет до 1 часа в рабочее время;</li>
          <li>Склад и офис в Москве находятся по адресу: <span style="color:#04b">г. Москва, <span class="ymaps-geolink">ул. Ткацкая, д. 5А стр. 1.</span></span></li>
          <li>Склад и офис в Екатеринбурге находятся по адресу: <span style="color:#04b">г. Екатеринбург, <span class="ymaps-geolink">ул. Ереванская, 2Б.</span></span></li>
        </ul>
        <div class="ymap">
          <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A92556ad82b8decfc1dea020ae4c776cc4f518a1bfaee5bc2c983017c4405873c&amp;
              width=1080&amp;height=500&amp;lang=ru_RU&amp;scroll=true">

              </script>
        </div>
      </div>