@page
@model Ultra77Razor.Pages.ProvidersModel

<div class="content__description providers">
    <h4>Информация для поставщиков</h4>
    <p>
        Компания ООО ТПК «УЛЬТРАПАК» заинтересована в сотрудничестве с
        поставщиками, производителями и готова рассмотреть новые предложения
        для расширения ассортимента товара.
    </p>
    <p>
        Наши менеджеры внимательно рассмотрят ваши коммерческие предложения,
        для этого вам необходимо отправить коммерческое предложение в соответствии
        с требованиями, карточку предприятия (реквизиты организации) и подробную
        информацию о роде деятельности вашей компании на электронную
        почту zakaz@upak66.ru. Далее дождаться обратной связи.
    </p>
    <ul class="providers-ul-1">
        Требования для сотрудничества:
        <li>
            Предлагаемая вами продукция должна подходить к товарным категориям, представленным на нашем сайте;
        </li>
        <li>
            Продукция должна иметь сертификаты качества, регистрационные удостоверения, а также декларации соответствия;
        </li>
        <li>Товары должны быть в наличие на ваших складах, при отсутствие - срок производства не более двух недель;</li>
        <li>
            Прайс-лист со взаимовыгодными условиями поставки;
        </li>
        <li>
            Полная ответственность за ваш товар в случае возникновения гарантийных случаев.
        </li>
    </ul>
    <ul>
        Для заключения договоров, реквизиты ООО ТПК «УЛЬТРАПАК»:
        <li><span>Полное наименование:</span> Общество с ограниченной ответственностью ТПК «УЛЬТРАПАК»</li>
        <li><span>Сокращённое наименование:</span> ООО ТПК «УЛЬТРАПАК»</li>
        <li><span>ОГРН:</span> 1169658031322 от 21.03.2016г.</li>
        <li><span>ИНН:</span> 6670434131 <span>КПП:</span> 667001001</li>
        <li><span>Юридический адрес:</span> 620075, Свердловская область, г. Екатеринбург, ул. Луначарского, дом 81, помещение 18</li>
        <li><span>Фактический адрес:</span> 620141, Свердловская область, г. Екатеринбург, ул. Ереванская, 2б</li>
        <li><span>Филиал:</span> 105318, г. Москва, ул. Ткацкая 5а стр 1</li>
        <li><span>Телефон/факс:</span> (343) 200-42-20; 200-45-20</li>
        <li><span>E-mail:</span> zakaz@upak66.ru</li>
        <li><span>Банковские реквизиты:</span></li>
        <li><span>Расчетный счет:</span> 40702810663030002436 в ПАО КБ «УБРиР»</li>
        <li><span>БИК:</span> 046577795</li>
        <li><span>Корр/счет:</span> 30101810900000000795</li>
        <li><span>Директор:</span>
            Шульц Евгений Сергеевич на основании Устава (Решение №1 от 10.03.2016г.)</li>
    </ul>
    <p class="providers-after">Будем рады сотрудничеству с Вами !</p>
    @await Html.PartialAsync("_YandexMap");
</div>