@page
@model Ultra77Razor.Pages.ServicesModel
@{
    ViewData["Title"] = "Услуги";
}
      <div class="content__description">
        <h3>Так же мы предоставляем услуги:</h3>
        <div class="tabs">
          <div class="tabs__nav">
            <div class="tabs__btn tabs__btn_active">
              <div class="icon-box">
                <img src="~/img/services/shipping.png" alt="">
              </div>
              <div class="service-name">
                Грузоперевозки
              </div>
            </div>
            <div class="tabs__btn">
              <div class="icon-box">
                <img src="~/img/services/icon-storage-stacks.png" alt="">
              </div>
              <div class="service-name">
                Ответственное хранение
              </div>
            </div>
            <div class="tabs__btn">
              <div class="icon-box">
                <img src="~/img/services/home-delivery.png" alt="">
              </div>
              <div class="service-name">
                Организация переезда
              </div>
            </div>
          </div>
          <div class="tabs__content">
            <div class="tabs__pane tabs__pane_show">
              <div class="heading"><h3>Грузоперевозки </h3></div>
              <div class="service service-1">
               
                <div class="scard"><ul>Надежность компании
                  <li>Все склады и автопарк полностью в собственности компании</li>
                  <li>Отсутствуют посредники и третьи лица при оказании услуг перевозки</li>
                  <li>Компания несет материальную ответственность как за груз, так и за водителей и транспорт</li>
                </ul>
              </div>
                <div class="scard"><ul>Надежность водителей
                  <li>Все водители - граждане РФ и жители Москвы или МО</li>
                  <li>Все водители имеют стаж соответствующей должности не менее 5-ти лет</li>
                  <li>В транспорте присутствуют GPS/Глонасс трекеры и возможность наблюдения за транспортировкой</li>
                </ul>
                </div>
                 <div class="scard">
                  <ul>Транспортная доступность
                  <li>Склад и офис в Москве находятся в пределах МКАД: в шаговой доступности от м. Семеновская</li>
                  <li>Склад и офис в Екатеринбурге находятся в центре города: Ереванская улица, 2Б</li>
                </ul>
              </div>
              
                <div class="scard">
                   <ul>Индивидуальный подход
                  <li>Гибкая система оплаты как с НДС, так и без него</li>
                  <li>Возможность частичной предоплаты или постоплаты</li>
                  <li>Учитываются индивидуальные пожелания клиента даже при скромных объемах перевозок</li>
                </ul>
              </div>
              </div>
            </div>
            <div class="tabs__pane">
              <div class="heading"><h3>Ответственное хранение </h3></div>
              <div class="service service-2">
                <div class="scard"><ul>Транспортная доступность
                  <li>Склад и офис в Москве находятся в пределах МКАД: в шаговой доступности от м. Семеновская</li>
                  <li>Склад и офис в Екатеринбурге находятся в центре города: Ереванская улица, 2Б</li>
                </ul></div>
                <div class="scard"><ul>Безопасность
                  <li>Все склады находятся под круглосуточной охраной</li>
                  <li>Доступ на склад имеют только материально-ответственные работники компании</li>
                  <li>Работы по погрузке-разгрузке осуществяются без привлечения третьих лиц</li>
                </ul></div>
                <div class="scard"><ul>Индивидуальный подход
                  <li>Гибкая система оплаты как с НДС, так и без него</li>
                  <li>Оплата только за занимаемую площадь в м<sup>2</sup></li>
                  <li>Учитываются индивидуальные пожелания клиента при любой занимаемой площади</li>
                </ul></div>
                <div class="scard"><ul>Надежность компании
                  <li>Все склады и автопарк полностью в собственности компании</li>
                  <li>Отсутствуют посредники и третьи лица при оказании услуг ответственного храненеия</li>
                  <li>Компания несет материальную ответственность за груз во время его хранения</li>
                </ul></div>
              </div>
            </div>
            <div class="tabs__pane" id="content-3">
              <div class="heading"><h3>Организация переезда </h3></div>
              <div class="service service-3">
              <div class="scard"><ul>Надежность водителей
                  <li>Все водители - граждане РФ и жители Москвы или МО</li>
                  <li>Все водители имеют стаж соответствующей должности не менее 5-ти лет</li>
                  <li>В транспорте присутствуют GPS/Глонасс трекеры и возможность наблюдения за транспортировкой</li>
                </ul></div>
                <div class="scard"><ul>Транспортная доступность
                  <li>Склад и офис в Москве находятся в пределах МКАД: в шаговой доступности от м. Семеновская</li>
                  <li>Склад и офис в Екатеринбурге находятся в центре города: Ереванская улица, 2Б</li>
                </ul></div>
                <div class="scard"><ul>Надежность компании
                  <li>Все склады и автопарк полностью в собственности компании</li>
                  <li>Отсутствуют посредники и третьи лица при оказании услуг перевозки</li>
                  <li>Компания несет материальную ответственность как за груз, так и за водителей и транспорт</li>
                </ul></div>
                <div class="scard"><ul>Индивидуальный подход
                  <li>Гибкая система оплаты как с НДС, так и без него</li>
                  <li>Возможность частичной предоплаты или постоплаты</li>
                  <li>Учитываются индивидуальные пожелания клиента даже при скромных объемах перевозок</li>
                </ul></div>
              </div>
            </div>
          </div>
        </div>
      </div>