.auth-wrapper{
    display:flex;
    flex-direction:column;
}
.auth-header {
    display: flex;
    flex-direction: column;
}
.auth-main {
    display: flex;
    flex-direction: column;
}
.auth-line {
    display: flex;
    flex-direction: column;
}
.auth-footer {
    display: flex;
    flex-direction: column;
}