.auth-wrapper{
    display:flex;
    flex-direction:column;
    text-align:center;
}
.auth-header {
    display: flex;
    flex-direction: column;
    text-align: center;
    h3{
        align-self:center;
    }
}
.auth-main {
    display: flex;
    flex-direction: column;
}
.auth-line {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    div{
        width:50%;
    }
    &:first-child {
        width: 50%;
        justify-self: start;
    }

    &:last-child {
        width: 50%;
        justify-self:flex-end;
    }
}
.auth-footer {
    display: flex;
    flex-direction: column;
}