@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: Montserrat, Montserrat-Alternates, Arial, "Helvetica Neue", sans-serif;
}

ul,
li {
  list-style: none;
}

a:active,
a:hover,
a {
  text-decoration: none;
  color: #000;
}

header,
body,
nav,
a,
footer {
  display: block;
}

p {
  text-align: justify;
  line-height: 1.8;
  font-size: 16pt;
}

body {
  background-color: #eceeed;
}

#burger,
[for=burger] {
  display: none;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

header {
  flex: 0 0 auto;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.header__container {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header__info {
  margin: 0 auto;
  margin-block: 20px;
  align-self: center;
  max-width: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  background-color: #fff;
}

.header__info-first,
.header__info-second {
  height: 100%;
  padding-bottom: 20px;
  margin-right: 20px;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  z-index: 3;
}

.header__info-first {
  margin-right: 0;
  margin-left: 20px;
}

.header__info-second {
  margin-left: 0;
  margin-right: 20px;
}

.header__info-logo {
  width: 100%;
  height: 100%;
}

.header__logo {
  width: 100%;
  height: 100%;
  border-radius: 5%;
  overflow: hidden;
}
.header__logo img {
  width: 100%;
  height: 100%;
  display: block;
}

.header__info-text {
  padding: 0;
  margin: 0;
  font-size: 20px;
  justify-self: end;
}

.header__info-number {
  font-size: 38px;
  display: block;
  justify-self: end;
}

.header__info-text p {
  margin: 0;
}

.left {
  text-align: end;
}

.login-partial {
  justify-self: start;
  align-self: end;
}

.header__body {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 80pt;
  align-items: center;
  border-color: #b2b4b3;
}

.header__burger {
  display: none;
}

.header__menu {
  font-size: 1em;
  font-weight: bold;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #b2b4b3;
}

.header__list {
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header__list li {
  list-style: none;
  height: 100%;
  width: 100%;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__list li form {
  width: 100%;
  height: 100%;
}
.header__list li form a {
  color: #fff;
  text-align: justify;
  text-transform: uppercase;
  font-size: 1.5em;
  text-decoration: none;
  height: 100%;
  width: 100%;
  background-color: #b2b4b3;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header__link:hover {
  background-color: #fff;
  color: black;
  border-bottom: 5pt solid #ce2874;
}

.header__link,
.footer__link {
  white-space: nowrap;
}

.slider__text {
  display: none;
}

.content {
  width: 90%;
  align-self: center;
  margin: auto auto;
  margin-block: 30pt;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h3 {
  padding-block: 10pt;
  line-height: 1.5em;
  font-size: 2em;
}

.content__description {
  width: 100%;
}

.content__description-list {
  line-height: 2em;
  font-size: 16pt;
}

.content__description-list a {
  display: inline;
}

.slider__wrapper {
  margin-bottom: 30pt;
  width: 100%;
}

.catalog {
  margin: 0 auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  gap: 4%;
  margin-bottom: 8%;
}

.catalog__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  contain: content;
  background-color: #b2b4b3;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 280px;
}
.catalog__card a {
  min-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-direction: column;
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  color: white;
}
.catalog__card a img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.catalog__card a:hover {
  background-color: #fff;
  color: black;
}

.about p span {
  font-weight: bold;
}

.about__ul span {
  font-size: 32px;
  line-height: 1.8;
}
.about__ul li {
  text-indent: 30px;
  font-size: 20px;
  line-height: 2.2;
}
.about__ul li:before {
  content: "•";
}

.providers {
  font-size: 1.5em;
}

.providers h4 {
  font-size: 2em;
  text-align: center;
}

.providers p::before {
  content: "";
  padding-right: 3ch;
}

.providers ul {
  text-align: center;
  padding: 2% 0 0 0;
  font-weight: bold;
}

.providers ul li {
  text-align: start;
  padding-top: 1%;
  font-weight: normal;
}

.providers ul li span {
  font-weight: bold;
}

.providers-ul-1 li::before {
  content: "-";
  border-radius: 1ch;
  padding-inline: 1ch;
}

.providers-after {
  text-align: center;
  font-weight: bold;
}

.footer,
.footer a {
  text-transform: uppercase;
  color: #b3b3b3;
  font-weight: 700;
}

.footer {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-size: xx-large;
  color: #b3b3b3;
  width: 100%;
  height: 100%;
  background-color: #666666;
  margin: 50px 0 0 0;
  padding: 0;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 2%;
}
.footer__wrapper p {
  margin-top: 2%;
  text-align: center;
}

.footer__description {
  font-size: large;
  margin: 5%;
  text-align: center;
}

.footer__number {
  margin-bottom: 5%;
  font-size: 1.5em;
}

.footer__links {
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 80%;
  font-size: x-large;
  text-align: end;
}
.footer__links form {
  margin: 0 15px;
}
.footer__links form li {
  text-align: center;
  margin: 5%;
  white-space: nowrap;
}

.footer__links form li a:hover {
  color: white;
}

.footer__links p {
  font-size: xx-large;
  text-align: center;
}

.footer__links-elements {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;
}

.footer__links-elements-item ul {
  padding: 0;
}

.footer__form {
  text-transform: none;
  text-align: center;
  width: 30%;
}

#footer__form-textarea {
  height: 170px;
}

.footer__social {
  text-align: center;
}
.footer__social p {
  text-align: center;
}

.footer__social-icons {
  margin-top: 3%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 35%;
  padding-right: 35%;
}

.footer__social-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.footer__social-icon img {
  width: 100%;
  height: 100%;
}

.footer__copy {
  margin: 2%;
  text-align: center;
}

.footer__copy a {
  font-size: 0.5em;
}

.footer__logo {
  margin-top: 2%;
  align-self: center;
  max-width: 10%;
  max-height: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.number-change:hover {
  border: solid 1px;
}

.carousel-about {
  height: 400px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1200px) {
  .header__link {
    font-size: small;
  }

  .header__list li a {
    font-size: 1.2em;
  }

  .footer__social {
    font-size: x-large;
  }

  .footer__number {
    font-size: xx-large;
  }

  .footer__social-icon {
    width: 50px;
    height: 50px;
  }

  .footer__links p {
    font-size: x-large;
  }

  .footer__links {
    font-size: large;
  }
}
@media (max-width: 960px) {
  .header__info,
.header__info-first,
.header__info-second,
.header__menu,
.footer__wrapper {
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .wrapper {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .content {
    width: 90%;
  }

  .header__info {
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-grow: 1;
  }

  .header__info-first,
.header__info-second {
    justify-content: space-between;
    flex-grow: 1;
  }

  .header__info-first {
    align-self: end;
  }

  .header__info-second {
    flex-grow: 2;
  }

  .header__info-content {
    width: 100%;
    height: 100%;
    min-width: 10%;
    min-height: 10%;
    padding: 0;
    margin: 0;
    align-self: center;
    justify-self: end;
    flex-grow: 1;
  }

  .header__info-logo {
    width: auto;
  }

  .header__logo {
    border-radius: 5%;
    overflow: hidden;
  }

  .header__logo img {
    width: 100%;
    height: 100%;
    display: block;
  }

  .header__info-number {
    max-width: 100%;
    max-height: 100%;
    min-width: 10%;
    min-height: 10%;
    font-size: 200%;
    padding: 0;
    margin: 0;
    align-self: center;
    justify-self: end;
  }

  .login-partial {
    align-self: start;
  }

  .header__info-text {
    display: none;
  }

  .header__body {
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    justify-content: space-between;
    height: auto;
    width: 100%;
    align-items: center;
    border-color: #b2b4b3;
  }

  .header__menu {
    position: fixed;
    max-height: 70%;
    z-index: 5;
  }

  .header__list {
    height: auto;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .header__list li {
    list-style: none;
    height: 250px;
    width: 100%;
    display: flex;
    align-self: center;
    justify-self: center;
    align-items: center;
    justify-content: center;
  }

  .header__link:hover {
    background-color: #fff;
    color: black;
    border-bottom: 5pt solid #ce2874;
  }

  .header__list li a {
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #b2b4b3;
  }

  .header__link {
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-size: 16pt;
    text-decoration: none;
  }

  [for=burger] {
    display: block;
    position: fixed;
    text-align: center;
    right: 4%;
    top: 4%;
    z-index: 6;
  }

  [for=burger]::before {
    content: "";
  }

  nav {
    display: none;
    position: fixed;
    top: 0;
    margin-top: 30px;
    background: rgba(216, 243, 253, 0.692);
    width: 80%;
    user-select: none;
  }

  nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    flex-direction: column;
  }

  #burger:checked + label + nav {
    display: block;
    animation: show 0.5s ease;
  }

  #burger:checked + [for=burger]::before {
    content: "";
  }

  .menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
  }

  .line {
    fill: none;
    stroke: #5593dd;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }

  .line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
  }

  .line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }

  .opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }

  .opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
  }

  .opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }

  .swiper {
    width: 100%;
    height: 600px;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .catalog {
    grid-template-columns: repeat(3, 1fr);
    gap: 4%;
    margin-bottom: 20%;
    width: 100%;
  }

  .navcard {
    flex-direction: column;
    align-items: center;
  }

  .number {
    margin: 0 0 10px 25px;
  }

  .nav-buttons {
    flex-direction: column;
  }

  .nav-button {
    flex-direction: column;
    margin-bottom: 10px;
  }

  .footer {
    font-size: x-large;
  }

  .footer__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer__number {
    font-size: xx-large;
  }

  .footer__form {
    width: 60%;
    margin-top: 10%;
  }

  .footer__links {
    flex-direction: column;
    justify-content: space-between;
    font-size: large;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
    width: 60%;
  }
  .footer__links form {
    margin-block: 2%;
    text-align: center;
    text-align: center;
  }
  .footer__links .footer__social {
    margin-top: 10%;
    width: 100%;
  }
  .footer__links .footer__copy {
    margin: 4%;
    text-align: center;
  }
  .footer__links .swiper-button-next {
    right: 20px;
    transform: rotate(90deg);
  }
  .footer__links .swiper-button-prev {
    left: 20px;
    transform: rotate(90deg);
  }
  .footer__links .service {
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 2%;
    grid-template-columns: auto;
    height: auto;
  }
  .footer__links .tabs__nav {
    flex-direction: column;
  }

  @keyframes show {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .number-label {
    display: none;
  }

  .number {
    width: 100px;
  }

  .cart-header {
    flex-direction: column;
  }
  .cart-header h3 {
    text-align: center;
  }

  .head-submit {
    display: none;
  }

  .cart-card {
    flex-wrap: wrap;
    margin-bottom: 15%;
    padding: 5%;
    justify-content: center;
    align-items: center;
  }

  .price-percount {
    text-align: center;
  }

  .total {
    flex-wrap: wrap;
  }

  .footer__social-icons {
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }

  .imgcard p {
    font-size: 2em;
  }
}
@media (max-width: 960px) and (max-width: 767px) {
  .providers {
    font-size: 1.5em;
  }

  .providers h4 {
    font-size: 1.7em;
    text-align: center;
  }

  .providers p::before {
    content: "";
    padding-right: 3ch;
  }

  .providers ul {
    text-align: center;
    padding: 3% 0 0 0;
  }

  .providers ul li {
    text-align: justify;
    padding-top: 1%;
  }

  .providers ul li span {
    font-weight: bold;
  }

  .providers-ul-1 li::before {
    content: "-";
    border-radius: 1ch;
    padding-inline: 1ch;
  }

  .providers-after {
    text-align: center;
  }

  .footer__links li {
    margin-block: 1%;
  }

  .catalog {
    grid-template-columns: repeat(2, 1fr);
    gap: 4%;
    margin-bottom: 70%;
  }

  .header__info {
    width: 100%;
  }

  .header__info-number {
    font-size: 170%;
  }
}
@media (max-width: 960px) and (max-width: 600px) {
  .header__info {
    align-items: center;
  }

  .header__info-number,
.header__info-content,
.login-partial,
.left,
.right {
    align-self: center;
    text-align: center;
  }

  .footer__social-icons {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }

  .slider__wrapper {
    display: none;
  }

  .header__info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .catalog {
    grid-template-columns: repeat(1, 1fr);
    gap: 1%;
    margin-bottom: 120%;
  }
}
.form-list {
  max-width: 800px;
}

.form-list li {
  display: flex;
  position: relative;
}

.form-list li + li {
  margin-top: 24px;
}

.form-list label {
  width: 192px;
  flex-shrink: 0;
  text-align: right;
  padding: 10px 24px 0 0;
}

.form-list label + div {
  width: calc(100% - 192px);
}

.form-list button {
  height: 36px;
  font-size: 12px;
  line-height: 38px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  padding: 0 24px;
  border: none;
  border-radius: 5px;
  background: #058cd0;
  cursor: pointer;
  transition: all 0.2s;
}

.form-list button:hover {
  background: #0497e0;
}

.form-control {
  width: 100%;
  height: 36px;
  font-size: 15px;
  line-height: 36px;
  padding: 0 10px;
  border: solid 1px #c6c6c6;
  border-radius: 3px;
  background: #fff;
}

.form-control:focus {
  color: #3c464e;
  border: solid 1px #82b0d5;
  box-shadow: 0 0 9px rgba(23, 198, 254, 0.37), inset 0 1px 2px rgba(91, 114, 132, 0.3);
}

textarea.form-control {
  max-width: 600px;
  height: 156px;
  display: block;
  font: normal 15px/20px Roboto, Verdana, sans-serif;
  resize: none;
}

.error {
  max-width: 260px;
  display: none;
  font-size: 13px;
  line-height: 15px;
  color: #fff;
  position: absolute;
  left: 216px;
  top: calc(100% + 8px);
  z-index: 100;
  padding: 6px 10px 7px;
  border-radius: 6px;
  background: #d24a4a;
}

.error:before {
  width: 0;
  height: 0;
  content: "";
  position: absolute;
  left: 15px;
  top: -7px;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  border-bottom: 8px solid #d24a4a;
}

.form-control_error {
  border-color: #d24a4a;
}

.tabs {
  border: 1px solid #e0e0e0;
}

.tabs__nav {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  border-bottom: 1px solid #e0e0e0;
  background-color: #eee;
}

.tabs__btn {
  padding: 0.5rem 0.75rem;
  text-decoration: none;
  color: black;
  text-align: center;
  flex-shrink: 0;
  flex-grow: 1;
  border: 1px solid transparent;
  cursor: pointer;
}

.tabs__btn_active {
  background: #fff;
  cursor: default;
}

.tabs__btn:not(.tabs__btn_active):hover,
.tabs__btn:not(.tabs__btn_active):focus {
  background-color: #eee;
}

.tabs__content {
  padding: 1rem;
}

.tabs__pane {
  display: none;
  width: 100%;
  height: auto;
}

.tabs__pane_show {
  display: block;
}

.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 6%;
  width: 100%;*/
}

.icon-box {
  padding-block: 20px;
  max-width: 300px;
}
.icon-box img {
  width: 100%;
  height: 100%;
  min-height: auto;
  max-width: 100%;
  max-height: 100%;
}

.service-name {
  padding-block: 10px;
  font-size: 22px;
}

.scard {
  width: 100%;
  height: 100%;
}
.scard ul {
  font-size: 22px;
  line-height: 3;
  text-align: center;
}
.scard ul li {
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  padding-left: 50px;
  background-image: url("/wwwroot/img/services/service/down.png");
  background-repeat: no-repeat;
  background-position: left start;
  background-size: 40px;
}

.heading {
  margin: 0 0 20px 0;
  text-align: center;
  font-size: 26px;
}

@media (max-width: 960px) {
  .service-name {
    font-size: 16px;
  }

  .tabs__content {
    padding: 0;
    margin: 0;
  }

  .heading {
    margin: 0 0 20px 0;
    text-align: center;
    font-size: 16px;
  }

  .service {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .tabs__btn {
    width: 33%;
  }

  .scard {
    padding: 0;
  }
  .scard ul {
    padding: 0;
  }
  .scard ul li {
    padding: 0;
  }
}
@media (max-width: 756px) {
  .heading {
    font-size: 12px;
  }

  .service-name {
    display: none;
  }
}
.content form {
  font-size: 1.5em;
  text-align: justify;
}

.aboutproduct div {
  margin-top: 1%;
}

.imgcard {
  font-size: xx-large;
  hyphens: none;
  align-self: center;
  width: 50%;
}
.imgcard p {
  text-align: center;
  font-size: 100%;
  font-weight: bold;
}
.imgcard img {
  margin-top: 10%;
  width: 100%;
}

.navcard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-block: 5%;
}

.number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  padding: 0;
  margin: 0;
}

.number-input {
  border: none;
  padding: 0;
  margin: 0;
  width: 200px;
}
.number-input input[type=number] {
  border: #b3b3b3 solid 1px;
  width: 30px;
  background-color: #eee;
  padding: 0;
  margin: 0;
  height: 70px;
  line-height: 70px;
  text-indent: 35px;
  width: 100%;
  font-size: 30px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

.number-label {
  width: 40%;
  height: 70px;
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
  background-color: #b3b3b3;
}
.number-label p {
  color: #fff;
  padding-top: 15%;
  font-size: 30px;
  text-align: center;
  align-self: center;
}

.number-buttons {
  min-height: 100%;
  max-height: 70px;
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0;
  margin: 0;
  padding: 0;
}

.number-minus,
.number-plus {
  border: none;
  width: 50px;
  height: 35px;
  border: #b3b3b3 solid 1px;
  border-radius: 1px;
  margin: 0;
  padding: 0;
}
.number-minus p,
.number-plus p {
  display: inline-block;
  font-size: 20px;
}

.number-minus:hover,
.number-plus:hover {
  background-color: #b3b3b3;
  color: #fff;
}

.nav-buttons {
  display: flex;
  justify-content: end;
  flex-direction: row;
  width: 100%;
}

.nav-button {
  display: flex;
  align-items: center;
  margin: 0 5%;
  height: 100%;
}
.nav-button a {
  display: flex;
  align-items: center;
}
.nav-button a p {
  color: #fff;
  margin: 0;
  text-align: center;
}

.aboutproduct p {
  text-align: center;
  margin: 0;
}

.product-maincard {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.number-wrapper {
  display: flex;
  justify-content: center;
  align-self: center;
  justify-self: center;
  flex-grow: 3;
  max-width: 100%;
  margin-right: 5%;
}

.product-dictionary {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
}
.product-dictionary p {
  margin: 0;
  font-size: x-large;
  text-align: end;
}

.cart-options-line {
  display: flex;
  white-space: nowrap;
}
.cart-options-line div {
  margin-left: 5%;
}

@media (max-width: 960px) {
  .content form {
    width: 100%;
    font-size: 1.5em;
  }
}
@media (max-width: 600px) {
  .navcard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .nav-buttons {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .content form {
    width: 100%;
    font-size: 1.5em;
  }
}
.cart-wrapper {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.cart-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5%;
}
.cart-header h3 {
  font-size: 2.5em;
}
.cart-header a p {
  font-size: x-large;
}

.cart-content {
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.cart-product {
  display: flex;
  flex-direction: column;
}

.cart-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.cart-card-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-card-about {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.cart-product-image {
  min-width: 25%;
  min-height: 25%;
}
.cart-product-image img {
  width: 100%;
  height: 100%;
}

.price-one {
  justify-self: end;
  font-size: x-large;
}

.price-percount {
  flex-grow: 1;
  font-size: x-large;
}

.delete-submit {
  flex-grow: 0;
}

.cart-summary {
  display: flex;
  flex-direction: column;
  margin: 5% 0 10% 0;
}
.cart-summary p {
  align-self: end;
  font-size: xx-large;
  text-align: start;
}

.total {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: auto;
}

.price-total {
  margin: 0 5% 0 0;
  font-size: xx-large;
  display: inline;
  text-align: center;
  white-space: nowrap;
}

.confirm-submit {
  white-space: nowrap;
}

.cart-footer p {
  font-size: x-large;
}

.submit {
  padding: 1% 5%;
  background-color: #ce2874;
  color: #fff;
  font-size: xx-large;
  border: solid #aaa 1px;
}

.submit:hover {
  background-color: #fff;
  color: #5593dd;
}

.head-submit {
  display: flex;
  align-items: center;
  color: #ce2874;
  font-size: xx-large;
  white-space: nowrap;
}
.head-submit p {
  padding-top: 15%;
  font-weight: bold;
}

.head-submit:hover {
  color: #5593dd;
}

.triangle {
  color: #5593dd;
  width: 0;
  height: 0;
}
.triangle:hover {
  color: #ce2874;
}

.triangle-left {
  margin: 2.5% 5% 0 0;
  border-top: 10px solid transparent;
  border-right: 20px solid #D0D4DC;
  border-bottom: 10px solid transparent;
}

.triangle-right {
  margin: 2.5% 0 0 5%;
  border-top: 10px solid transparent;
  border-left: 20px solid #D0D4DC;
  border-bottom: 10px solid transparent;
}

.number-wrapper {
  display: flex;
  justify-content: end;
  margin-left: 5%;
}

@media (max-width: 1200px) {
  .cart-wrapper {
    width: 100%;
  }

  /*-------------*/
  .number {
    width: 180px;
    height: 40px;
  }

  .number-input {
    width: 180px;
  }
  .number-input input[type=number] {
    height: 50px;
  }

  .number-label {
    width: 40%;
    height: 50px;
  }
  .number-label p {
    padding-top: 15%;
    font-size: 30px;
  }

  .number-buttons {
    height: 100%;
    width: 40%;
  }
  .number-buttons .number-minus,
.number-buttons .number-plus {
    border: none;
    width: 40px;
    height: 25px;
    border: #b3b3b3 solid 1px;
    border-radius: 1px;
    margin: 0;
    padding: 0;
  }
  .number-buttons .number-minus p,
.number-buttons .number-plus p {
    display: inline-block;
    font-size: 15px;
  }

  .price-one {
    display: none;
  }

  .submit {
    font-size: large;
  }
}
@media (max-width: 960px) {
  .cart-header {
    flex-direction: row;
  }
  .cart-header h3 {
    padding-top: 4%;
    font-size: 1.5em;
  }

  .cart-card-header {
    flex-direction: column;
    align-items: center;
  }

  .cart-card-about {
    justify-content: center;
  }

  .number-wrapper,
.cart-card-options,
.cart-card-about {
    margin-block: 5%;
  }
}
@media (max-width: 600px) {
  .cart-header {
    flex-direction: column;
    align-items: center;
  }
  .cart-header h3 {
    font-size: 1.5em;
  }

  .cart-product-image {
    width: 100%;
  }

  .cart-card {
    flex-direction: column;
  }
}
.auth-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 70%;
}

.auth-header {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.auth-main {
  font-size: xx-large;
  display: flex;
  flex-direction: column;
}
.auth-main h3 {
  font-size: xx-large;
  align-self: center;
}

.auth-line {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 15px;
}
.auth-line div {
  width: 80%;
}
.auth-line div input {
  width: 100%;
  margin: 0;
  padding: 2% 0 2% 0;
  text-align: center;
}

.auth-line-checkbox {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 25px;
  align-self: center;
  justify-content: center;
}
.auth-line-checkbox label {
  padding: 0 5%;
}

.hr-shelf {
  margin: 30px auto 30px;
  padding: 0;
  height: 50px;
  border: none;
  border-bottom: 1px solid #1f1209;
  box-shadow: 0 20px 20px -20px #333;
  width: 100%;
}

.auth-footer {
  display: flex;
  flex-direction: column;
}

.auth-footer-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.auth-footer-links p {
  font-size: xx-large;
  margin: 20px auto -10px auto;
}
.auth-footer-links p:hover {
  color: hotpink;
}

.auth-input {
  width: 100%;
  height: 100%;
  font-size: 0.8em;
}

.auth-button {
  width: 45%;
  align-self: center;
}

@media (max-width: 960px) {
  .auth-wrapper {
    width: 90%;
  }

  .auth-line {
    height: 100%;
  }
  .auth-line div {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .auth-wrapper {
    width: 100%;
  }

  .auth-line {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .auth-line div {
    width: 100%;
  }
  .auth-line .auth-input {
    width: 100%;
    font-size: 1em;
    margin: 0;
  }
}
.section__gallery {
  margin-bottom: 64px;
}

.section__gallery:last-child {
  margin-bottom: 0;
}

.h2 {
  font-family: "Lora", serif;
  text-align: center;
  font-size: 48px;
  margin-bottom: 48px;
  color: #fff;
}

.gallery {
  position: relative;
}

.gallery__flex {
  height: 600px;
  display: flex;
}

/* дополнительный класс для вертикального расположения блоков с изображениями */
.gallery__flex_column {
  flex-direction: column;
}

.gallery__item {
  flex: 1;
  /* изначальное значени для все элементов */
  transition: flex-grow 0.64s ease-in-out;
  /* для плавного изменения занимаемого пространства */
  /* если блоки изображений отображаются вертикально, им необходимо задать overflow: hidden; или min-height: 0; иначе блоки с изображениями не будут сжиматься и выйдут за границы блока галереи */
  overflow: hidden;
  min-height: 0;
}

.gallery__item:hover {
  flex: 16;
  /* при наведении меняем значение flex */
}

.gallery__item img {
  /* пропорционально растягиваем изображение на весь блок <div class="gallery__item"></div> */
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  display: block;
  /* для плавного перехода используем transition */
  transition: transform 1.6s ease-in-out;
  /* изначально изображение немного увеличено */
  transform: scale(1.1);
}

.gallery__item:hover img {
  transform: scale(1);
  /* при наведении убираем масштабирование изображения */
}

/* Собственно сам слайдер */
.slider {
  max-width: 100%;
  position: relative;
  max-height: 100%;
  margin-bottom: -10pt;
}

/* Картинка мастабируется по отношению к родительскому элементу */
.slider .item img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* Кнопки вперед и назад */
.slider .prev, .slider .next {
  cursor: pointer;
  position: absolute;
  top: 0;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.slider .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* При наведении на кнопки добавляем фон кнопок */
.slider .prev:hover,
.slider .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Заголовок слайда */
.slider__text {
  position: absolute;
  color: #fff;
  font-size: 35px;
  /* Выравнивание текста по горизонтали и по вертикали*/
  left: 50%;
  top: 90%;
  transform: translate(-50%, -50%);
  /* Тень*/
  text-shadow: 1px 1px 1px #000, 0 0 1em #000;
}

/* Кружочки */
.slider__dots {
  text-align: center;
}

.slider__dots-item {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 2px;
  background-color: #ddd;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.slider__dots-item:hover {
  background-color: #aaa;
}

/* Анимация слайдов */
.slider .item {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
